/*CSS Reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, label, input, textarea, p, blockquote, th, td ,tr { margin: 0; padding: 0; font-family: 'microsoft yahei', Arial, Helvetica, sans-serif; }
html, body { font-style: normal; font-weight: normal; font-variant: normal; }
body { color: #333333; font-size: 12px; line-height: 18px; }
body { position:relative; overflow-x:hidden; }
table { font-size: inherit; }
pre, code, kbd, samp, tt { font-family: monospace; }
table { border-spacing: 0; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
q:before, q:after { content: ''; }
abbr, acronym { border: 0; }
.pointer { cursor: pointer; }
tr { float:left; }
/*self-fix css*/
.clr, .clear { clear:both; height:0; overflow:hidden; }
.clrfix, .clr_after { zoom:1; }
.clrfix:after, .clr_after:after { clear:both; display:block; height:0; visibility:hidden; content:"."; }

.hide { display:none; }
.hidden { visibility:hidden; }

/*public*/
a { color: #333333; text-decoration: none; }
a:link, a:visited { color: #333333; text-decoration: none; }
a:active, a:hover { color: #18a7f1; text-decoration: none; }
a:focus { outline: 0 }
.f12 { font-size: 12px; line-height: 22px; }
.f14 { font-size: 14px; }
.f18 { font-size: 18px; }

/*-----清理浮动---*/
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
*html .clearfix {  height:1%; }
*+html .clearfix { height:1%; }

.none{display:none;}
.block{display:block;}
.inline{display:inline;}
.hidden{overflow:hidden;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;height:0px;font-size:0px;line-height:0px;overflow:hidden;}
* html .clear {display:inline;}

.page_container { width:1000px; margin:0px auto; font-size:14px; }
